@import './import/variables';

// Component
.xten-component-hero {
	width: 100%;
	&:not(.slick-slider) {
		display: flex;
	}
	&.sizeHero {
		flex-direction: column;
		transition: $smooth-transition;
		.slick-list {
			flex: 1;
		}
		.xten-hero-slide {
			display: flex;
		}
	}
	&[data-slick*="\"adaptiveHeight\":true"] {
		&.heroSized {
			display: flex;
			.slick-track {
				height: 100%;
			}
		}
	}
	&.slick-dotted {
		.xten-hero-slide {
			.container-xten-component-hero {
				margin-bottom: 2rem;
			}
		}
		&.sizeHero {
			&:not(.heroSized) {
				.xten-hero-slide {
					.container-xten-component-hero {
						margin-bottom: 0;
						margin-top: 2rem;
					}
				}
			}
		}
	}
	.xten-hero-slide {
		position: relative;
		flex: 1;
		.container-xten-component-hero {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
		.xten-content-outer {
			display: flex;
			width: 100%;
		}
		/*   Vertical Location   */
		&[data-content-vertical-location='top'] {
			.container-xten-component-hero {
				align-items: flex-start;
			}
		}
		&[data-content-vertical-location='middle'] {
			.container-xten-component-hero {
				align-items: center;
			}
		}
		&[data-content-vertical-location='bottom'] {
			.container-xten-component-hero {
				align-items: flex-end;
			}
		}
		/*   /Vertical Location   */
		/*   Horizontal Location   */
		&[data-content-horizontal-location='left'] {
			.xten-content-outer {
				justify-content: flex-start;
			}
		}
		&[data-content-horizontal-location='middle'] {
			.xten-content-outer {
				justify-content: center;
			}
		}
		&[data-content-horizontal-location='right'] {
			.xten-content-outer {
				justify-content: flex-end;
			}
		}
		/*   /Horizontal Location   */
		.xten-content {
			padding: 3rem;
		}
	}
	/*   Slide Method   */
	/*   Slide Background   */
	&[data-slide-method="default"] .xten-hero-slide,
	&[data-slide-method*="slide"] .xten-hero-slide-background {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		> .xten-hero-slide-background-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&[data-slide-method="slide-content-fade-background"] {
		.xten-hero-slide {
			position: relative;
			&.slick-active {
				&[tabindex="0"] {
					.xten-hero-slide-background {
						opacity: 1;
					}
				}
			}
		}
		.xten-hero-slide-background {
			opacity: 0;
		}
	}
	&[data-slide-method="slide-background-fade-content"] {
		.xten-hero-slide {
			position: relative;
			&.slick-active {
				&[tabindex="0"] {
					.container-xten-component-hero {
						opacity: 1;
					}
				}
			}
		}
		.container-xten-component-hero {
			opacity: 0;
		}
	}
	&[data-slide-method="default"] .xten-hero-slide[data-has-overlay='1'],
	&[data-slide-method*="slide"] .xten-hero-slide[data-has-overlay='1'] .xten-hero-slide-background {
		> .container-xten-component-hero {
			position: relative;
		}
	}
	/*   /Slide Background   */
	/*   /Slide Method   */
	/*   Slider Navigation   */
	.slick-arrow {
		max-width: 3rem;
		@media (min-width: $vp_xs) {
			max-width: calc( (100% - (540 - 30)px ) / 2 );
		}
		@media (min-width: $vp_sm) {
			max-width: calc( (100% - (720 - 30)px) / 2 );
		}
		@media (min-width: $vp_m) {
			max-width: calc( (100% - (960 - 30)px) / 2 );
		}
		@media (min-width: $vp_lg) {
			max-width: calc( (100% - (1140 - 30)px) / 2 );
		}
		@media (min-width: $vp_xl) {
			max-width: calc( (100% - (1440 - 30)px) / 2 );
		}
		@media (min-width: $vp_xxl) {
			max-width: calc( (100% - 174.8rem + 30px) / 2 );
		}
	}
	.slick-dots {
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		margin-bottom: 3rem;
	}
	&.slick-dotted {
		&.slick-slider {
			margin-bottom: 0;
		}
	}
	&.sizeHero {
		&:not(.heroSized) {
			.slick-dots {
				bottom: initial;
				margin-bottom: 0;
				top: 0;
				margin-top: 3rem;
			}
		}
	}
	/*   /Slider Navigation   */
}
// / Component
.container-xten-component-hero {
	display: flex;
}
.xten-hero-slide {
	&[data-has-video] {
		overflow: hidden;
	}
}
.xten-hero-slide-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
	@include smoothest-transition;
}
	/*   Slide Background Video   */
.xten-hero-slide-background-video-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	&[data-video-type="external_video_type"] {
		height: auto;
		min-height: 100%;
		> * {
			&:before {
				content: '';
				width: 100%;
				padding-bottom: 56.25%;
				display: block;
			}
			> * {
				position: absolute;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				&iframe {
					height: auto;
					/*   Hide unhidable controls out of the way   */
					min-height: calc(100% + 110px);
					margin-top: -60px;
					
				}
				&.wp-video {
					&,
					.wp-video-shortcode {
						width: 100% !important;
						height: 100% !important;
					}
				}
			}
		}
	}
	&[data-video-type="uploaded_video_type"] {
		.xten-hero-slide-background-video {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.xten-hero-slide-background-video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
	/*   /Slide Background Video   */