@import './import/variables';

/*   Component   */
.xten-component-image-gallery {
	background-color: $dark;
	.anchor-image-gallery-image {
		display: block;
		@include responsive-before;
	}
	.nav-slider {
		.slick-slide {
			background-color: transparent;
			@include smoothest-transition;
			&.slick-center {
				background-color: $primary;
			}
		}
	}
	[data-fancybox] {
		cursor: zoom-in;
	}
	.main-slider {
		&:after {
			content: attr(title);
			font-weight: 500;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 10%;
			background-color: rgba($black, 0.6);
			color: $white;
			pointer-events: none !important;
			@include smoothest-transition;
			transition-duration: 1s;
			opacity: 0;
			font-size: 4rem;
			@media (min-width: $vp_xs) {
				font-size: 5rem;
			}
		}
		&.show-notification {
			&:after {
				opacity: 1;
			}
		}
	}
	/*   Caption   */
	.image-gallery-caption-wrapper {
		text-align: center;
		font-size: 3em;
		line-height: 1.05;
		color: $white;
		bottom: 0;
		top: initial;
		left: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		padding-left: $slick-arrow-width;
		padding-right: $slick-arrow-width;
		opacity: 0;
		@include smoothest-transition;
	}
	.slick-active {
		.image-gallery-caption-wrapper {
			opacity: 1;
			transition-delay: .5s;
		}
	}
	.image-gallery-caption {
		padding: .35em .5em .15em;
		backdrop-filter: blur(3px);
		text-shadow: 0 .05em .05em $black;
		border-radius: 1.5rem 1.5rem 0 0;
	}
	/*   /Caption   */
}
/*   /Component   */
.image-gallery-nav-image-wrapper {
	padding: .175%;
	cursor: pointer;
}

.image-gallery-nav-image-wrapper-inner {
	@include responsive-before;
	&:before {
		@include smoothest-transition;
		@at-root .slick-center & {
			background-color: rgba($white, .65);
			z-index: 1;
			position: relative;
		}
	}
}
