@import './import/variables';

.component-accordion {
	.collapse-control-icon,
	.collapse-control-indicator {
		display: flex;
		align-items: center;
		min-width: 2.25em;
		min-height: 2.25em;
		justify-content: center;
	}
}
.accordion-control {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	font-size: 3rem;
	@media (min-width: $vp_sm) {
		font-size: 3.9rem;
	}
	> * {
		padding: .5em;
	}
}
.accordion-title {
	line-height: 1;
	flex: 1 1 auto;
	text-align: center;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.accordion-content {
	padding: 3rem;
	> :last-child {
		margin-bottom: 0;
	}
}
.collapse-control-icon {
	svg {
		fill: currentColor;
		width: auto;
		height: auto;
		max-width: 1em;
		max-height: 1em;
	}
}