@import './import/variables';


.component-accordions-list {
	&[data-swap-icons="1"] {
		.collapse-control-indicator {
			order: 3;
		}
		.collapse-control-icon {
			order: -1;
		}
	}
}
.component-accordion {
	.collapse-control-icon,
	.collapse-control-indicator {
		display: flex;
		align-items: center;
		min-width: 2.25em;
		min-height: 2.25em;
		justify-content: center;
	}
}
.accordion-control {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	font-size: 3.9rem;
	&:not([aria-expanded="true"]) {
		.collapse-control-indicator {
			&.fa-minus {
				&:before {
					content: '\f067';
				}
			}
		}
	}
	> * {
		padding: .5em;
	}
}
.accordion-title {
	line-height: 1;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}

.accordion-content {
	padding: 3rem;
	> :last-child {
		margin-bottom: 0;
	}
}