@import './import/variables';

@function calculatePercentage($max-posts) {
	$percentage: 100% / $max-posts;
	@return #{$percentage};
}
.xten-section-post-archive {
	.xten-content {
		margin-left: -$pad-xs;
		margin-right: -$pad-xs;
	}
	.posts-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}
	@for $i from 1 through 6 {
		&[data-max-posts-per-row="#{$i}"] {
			.listed-post {
				width: calculatePercentage($i);
			}
		}
	}
	.listed-post {
		display: flex;
		padding-top: $pad-xs;
		padding-bottom: $pad-xs;
		min-width: 100%;
		max-width: 100%;
		.entry-title {
			margin-bottom: 0;
		}
	}
	.listed-post-inner {
		width: 100%;
		max-width: 42.6rem;
		margin-left: $pad-xs;
		margin-right: $pad-xs;
	}
	.post-link {
		display: inline-block;
	}
	.post-body {
		padding: $pad-xs;
		flex: 1 0 auto; 
		> :not(:last-child) {
			margin-bottom: $pad-xs;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}
	.featured-image {
		margin-bottom: 0;
		overflow: hidden;
		.post-link {
			img {
				transition: $smooth-transition;
				transform: scale(1) translateZ(0);
				backface-visibility: hidden;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			#{$active} {
				img {
					transform: scale(1.05) translateZ(0);
				}
			}
		}
	}
	.entry-content {
		font-size: 2rem;
		line-height: 1.25;
		hyphens: auto;
		flex: 1 0 auto;
	}
	.entry-footer {
		padding-bottom: 0;
		text-align: right;
		padding-top: $pad-xs;
		margin-top: auto;
	}
}