/*   Viewport Sizes   */
$vp_xxs: 380px;
$vp_xs: 575px;
$vp_sm: 767px;
$vp_m: 992px;
$vp_lg: 1210px;
$vp_xl: 1680px;
$vp_xxl: 1920px;
/*   /Viewport Sizes   */

/*   Padding Sizes   */
$pad-xs: 1.5rem;
$pad-sm: 3rem;
$pad-m: 4.5rem;
$pad-lg: 6rem;
$pad-xl: 9rem;
$pad-xxl: 12rem;
/*   /Pading Sizes   */

/*   Colors   */
$primary: rgb(39, 55, 115);
$primary-dark: rgb(36, 54, 101);
$primary-darker: rgb(54, 71, 102);
$secondary: rgb(188, 199, 240);
$secondary-dark: rgb(131, 140, 172);
$secondary-darker: rgb(187, 67, 31);
$tertiary: rgb(242, 223, 104);
$quartiary: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$off-white: rgb(245, 245, 245);
$dark: rgb(64, 64, 64);
$darker: rgb(32, 32, 32);
/*   /Colors   */

/*   Smooth Transition    */
/*-----TRANSITIONS------*/
$smooth-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
.smooth-transition {
	transition: $smooth-transition;
}

$active: "&:hover,&:focus,&.active";